body{
    margin: 0;
    background-color: rgb(252, 242, 222);

}

header{
    background-color: rgb(206, 201, 201);
    padding: 10px;
    font-size: 50px;
    font-weight:bolder;
    color: rgb(250, 250, 250);
    font-style: oblique;
}

.main{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator-container{
    background-color: rgba(208, 220, 249, 0.571);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    width: 180px;
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
}

.screen{
    background-color: rgb(243, 239, 239);
    width: 160px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    font-size: 30px;
    padding: 2px;
}

button{
    background-color: white;
    font-size: 40px;
    border-radius: 10px;
}

footer{
    background-color: rgb(206, 201, 201);
    color: rgb(250, 250, 250);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
}